#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.playContainer {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
}

.playSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  font-size: 2em;
  font-weight: 600;
  cursor: pointer;
}

.resetBtn {
  background-color: khaki;
  padding: 16px 32px;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  outline: none;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}
